body {
    font-family: "Arial";
}

.profile-picture {
    border: solid black 5px;
    border-radius: 50%;
}

h1 {
    background-color: #e2e2e2;
    padding: 5px;
}

.title-summary {
    text-transform: uppercase;
}